@import "bootstrap-sprockets";
@import "bootstrap";


h1{
	text-align:center;
}

.navbar{
	margin-bottom: 0;
	background-color: #f4511e;
	z-index:9999;
	border:0;
	font-size: 12px !important ;
	line-height:1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;


}

.link, .navbar  .navbar-brand {
	
	color:#fff !important;
}
.navbar-default .navbar-toggle {
	 border-color: transparent;
	 color: #fff !important;
}

.jumbotron{
	background-color: #f4511e;
	color:#fff;
	padding:100px 25px;
	font-family:Montserrat, sans-serif;
	margin:-50px;
}
.container-fluid{
	padding:60px 50px;
}



h4{
	font-size: 19px;
	line-height: 1.37em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 30px;
}

  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
 }



 .gravatar{
   border-radius: 10px;
 }

 .user_info{
	margin-top:10px;
	margin-left:40px;
}

body{
	margin-top:100px;
}
.well{
	background-color:#EDEDED;
}

input,textarea,select, .uneditable-input{
	width:100%;
	border:1 px solid #d2d2d2;
	border-radius:5px;
	margin-bottom:15px;
}

input{
	
	height: auto !important;
}