@import "bootstrap-sprockets";
@import "bootstrap";


.navbar{
	margin-bottom: 0;
	background-color: #f4511e;
	z-index:9999;
	border:0;
	font-size: 12px !important ;
	line-height:1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;

}

.link, .navbar  .navbar-brand {
	
	color:#fff !important;
}
.navbar-default .navbar-toggle {
	 border-color: transparent;
	 color: #fff !important
}

.jumbotron{
	background-color: #f4511e;
	color:#fff;
	padding:100px 25px;
	font-family:Montserrat, sans-serif;
}
.container-fluid{
	padding:60px 50px;
}

h4{
	font-size: 19px;
	line-height: 1.37em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 30px;
}

  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
 }